
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1); /* Overlay background */
    overflow: hidden;
}

.hidden {
    display: none;
}

.modal-content {
    position: fixed;
    left: 5rem;
    top: 5rem;
    right: 5rem;
    bottom: 15rem;
    z-index: 1000;
    border-radius: 2rem;
    backdrop-filter: blur(5px) grayscale(1);
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    padding: 2rem;

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
    }
}


@keyframes expand {
    0% {
        left: 50%;
        top: 50%;
        bottom: 50%;
        right: 50%;
        opacity: 0;
    }

    100% {
        left: 5rem;
        top: 5rem;
        bottom: 5rem;
        right: 5rem;
        opacity: 1;
    }
}

@keyframes collapse {
    0% {
        left: 5rem;
        top: 5rem;
        bottom: 5rem;
        right: 5rem;
        opacity: 1;
    }


    100% {
        left: 50%;
        top: 50%;
        bottom: 50%;
        right: 50%;
        opacity: 0;
    }
}

.expand {
    animation: expand .5s ease-in-out forwards;
}

.collapse {
    animation: collapse .5s ease-out forwards;
}