<div class="modal" (click)="onClose()" [class.hidden]="!isOpen2">
    <div class="modal-content" [class.expand]="isOpen" [class.collapse]="!isOpen">
        <span class="close" (click)="onClose()">&times;</span>
        <ng-content></ng-content>
    </div>
</div>

