<div class="page-header">
    <span class="dark">Up</span><span class="another">c</span>oming
</div>
<main>
    <app-section type="notes">
        <h2>What to upgrade?</h2>
        <p>
            There are many ways to improve the project, and we have a lot of ideas.
            Here's the list of possible upgrade direction to follow:
        </p>
    </app-section>
    <app-section type="list">
    </app-section>
        <ul class="plain">
            <li>
                <h4>HomeCheck Server Manager</h4>
                <p>
                    If you take a look at the structure, you'll
                    see, that one HomeCheck Server is able to control only one home. it's true that it can have as many rooms
                    as one want, but it's still only one home. The idea is to make it possible to have a separate application
                    to supervise server entities, and if needed start a new instance for a new home.
                </p>
                <p>
                    The HomeCheck Server Manager is a separate application, that is able to manage
                    HomeCheck Servers. It can start, stop, restart, and update them. It can also
                    monitor the servers, and if one of them stops, it can restart it.
                </p>
            </li>
        </ul>
    <app-section type="notes">
        <h2>What components to upgrade</h2>
        <p>
            The list below shows the components we want to finish or upgrade. The list is ordered by priority,
            and will be updated frequently as we progress.
            The list is not exhaustive, and we will add more components as we go.
        </p>
    </app-section>
    <app-section type="list">
        <h3>Server Application</h3>
        <ul class="plain">
            <li>
                The most important thing is to finish <b class="highlight">State management</b> in server application, so users can
                setup rooms, bind devices to rooms, configure client app, etc. Also make webapi able to
                handle related requests and provide info for clients.
            </li>
            <li>
                The second is the <b class="highlight">Rule Engine</b>, which is a huge and tricky task, as requires timing, device handling
                script language parsing and execution, etc. Also it sould be able to resume when server stops and
                restarts.
            </li>
            <li>
                It's only the third, but in terms of security, the most important thing is the completely missing
                <b class="highlight">Security Module</b>, that makes everything safe. So far there's no authentication, no authorization,
                except the one for the MQTT broker. Once a user was able to connect to the same LAN as the server is,
                it will be able to connect to MQTT if the user and password is known. This is a huge security issue,
                and must be fixed as soon as possible.
            </li>
            <li>
                Instead of using a very basic <b class="highlight">Dependency Injection</b>, the plan is to switch to
                TSyringe from Microsoft, and remove class TInjectable. TInjectable is a simple class
                that make any class injectable, and introduces a method <code>inject</code>
            </li>
        </ul>

    </app-section>
    <app-section type="list">
        <h3>Web/Mobile Application</h3>
        <ul class="plain">
            <li>
                The Web/Mobile is a completely missing part of the project, and the next step will be to create
                a <b class="highlight">Web/Mobile Application</b> that can be used to monitor and control the devices.
            </li>
        </ul>
    </app-section>
    <app-section type="list">
        <h3>Device Firmware</h3>
        It is the most finished part of the project, but still needs some rework.
        <ul class="plain">
            <li>
                Switch to <b class="highlight">ESP-IDF</b> and <b class="highlight">RTOS</b> from Arduino.
                This is a huge task, as it requires to rewrite all the code, and also
                to make a new build system. The reason for this is that Arduino is not
                a real-time system, and it is not possible to make it real-time.
                For more complicated devices, like the plant supervisor, it is a must.
            </li>
        </ul>
    </app-section>
</main>
