<div class="page-header">
    <span class="dark">Struc</span><span class="another">t</span>ure
</div>
<main>
    <app-section type="notes">
        <p>
            As shown on the image above, the structure of the system is divided into many parts,
            each of which communicate with each other through Interfaces/APIs
        </p>
        <p>
            The sensor/actuator devices are connected to an MQTT broker, which is a lightweight publish/subscribe
            messaging transport that is ideal for connecting remote devices with a small code footprint and minimal network bandwidth.
        </p>
        <p>
            The broker is responsible for receiving the data from the devices and sending it to the server, and vice versa.
            The HomeCheck Server also subscribes to MQTT broker, and receives data from devices and sends commands to them.
        </p>
    </app-section>
    <img class="full-width margin1"  src="../../../../assets/charts/server2.svg" alt="notes">

    <app-section type="notes">
        <h2>
            The Server
        </h2>
        <p>
            The main part is the server, that has the following responsibilities:
        </p>
    </app-section>

    <app-section type="list">
        <ul class="plain">
            <li>
                <b>Keep connection with devices through MQTT broker</b><br>
                Server uses MQTT Broker as a message queue and
            </li>
            <li>
                <b>Sending commands / receive data from devices</b><br />
                The server is connected to the MQTT broker, and receives data from devices, and sends commands to them,
                according to the user and the rule engine.
            </li>
            <li>
                <b>Store data in database</b><br>
                Server is built the way, that it can use any kind of database, as long as it has the required
                interface implemented. Server defines an interface described in the <a href="/interfaces">Interfaces</a>
                section of this documentation.
                Currently, the only database is MongoDB, but because of MongoDB is not available
                on ARM architecture, it is not possible to run it on Raspbian. In the near future
                we are planning to implement a new wrapper for a database called CouchDB, which is also
                a document-oriented database that can be run on ARM architecture.
            </li>
            <li>
                <b>Store/update home configuration</b><br />
                Data that is used to configure the home, such as the rooms, devices, etc.<br />
                Configuration can be changed by the user through the web/mobile API interface.
                The configuration storage is not yet available, but soon it will be public for testing.
            </li>
            <li>
                <b>Provide API for the web/mobile application</b><br />
                Since the WebAPI is based on Socket.io, which is a real-time communication library,
                that enables low-latency, bidirectional and event-based communication between a client and a server,
                based on HTTP, WebSocket and WebTransport, depending on the browser and connection quality

            </li>
            <li>
                <b>Rule engine</b>: <br/>the user can define rules that will be executed when a certain condition is met.
                For example, if the temperature in the living room is higher than 25 degrees,
                turn on the air conditioner.
                The rules are stored in the database, and are executed by the server.
                The rule engine is not yet published, but it is planned to be released in the near future.
            </li>
            <li>
                <b>Message Queue</b>
                It's the inner communication system of the server, that is used to send messages between different
                parts of it. it's a simple implementation of a message queue, that is based on the observer pattern,
                since server doesn't need any inter-server communication on the message queue.
            </li>
        </ul>
    </app-section>

    <app-section type="link">
        <h3>MQTT Related links</h3>
        <ul>
            <li><a href="https://mqtt.org/" target="_blank">Official MQTT protocol site</a><br /></li>
            <li><a href="https://mosquitto.org/" target="_blank">Eclipse Mosquitto, an open source MQTT broker</a><br /></li>
            <li><a href="https://www.hivemq.com/blog/mqtt-essentials-part-1-introducing-mqtt/" target="_blank">MQTT Essentials</a><br /></li>
        </ul>
    </app-section>
    <app-section type="link">
        <h3>MongoDB Related Links</h3>
        <ul>
            <li><a href="https://www.mongodb.com" target="_blank">MongoDB</a><br /></li>
            <li><a href="https://www.mongodb.com/products/tools/compass" target="_blank">MongoDB Compass - GUI</a><br /></li>
        </ul>
    </app-section>
</main>

