@import "../../../shared/styles/colors";
@import "../../../shared/styles/animations";

app-section[type=link] {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
