<section class="slider-wrapper">
    <button class="slide-arrow" id="slide-arrow-prev" (click)="onLeftClick()" [disabled]="pos > 0">&#8249;</button>
    <button class="slide-arrow" id="slide-arrow-next" (click)="onRightClick()">&#8250;</button>
    <ul class="slides-container" id="slides-container" style="left: {{pos}}px" #sliderContainer>
        <li class="slide">
            <img src="/assets/icons/typescript.svg" alt="" class="icon" />
            Welcome <span class="highlight typescript">TypeScript</span> fans! Some part of this application is written in TypeScript, so you'll find a lot of TypeScript code here. If you don't
            know TypeScript, don't worry, it's just a superset of JavaScript, so you'll be able to understand it easily. If you want to
            learn more about TypeScript, you can visit <a href="https://www.typescriptlang.org/">TypeScript's official website</a>.
        </li>
        <li class="slide">
            <img src="/assets/icons/cpp.svg" class="icon" />
            Welcome <span class="highlight">C++</span> developers! Some other part of this application is written in C++, so you'll find a lot of C++ code here. If you don't
            know C++, don't worry, it's just a superset of C, so you'll be able to understand it easily. If you want to
            learn more about C++, you can visit <a href="https://isocpp.org/">C++'s official website</a>.
        </li>
        <li class="slide">
            <img src="/assets/icons/hardware.svg" class="icon" />
            Welcome hardware fans! We'll share all the compatible devices and hardware that you can use with this application. If you like ESP32,
            Arduino, Raspberry Pi, you'll also like this application. The whole infrastructure is open source and easily adaptable and extendable
            to any other devices than ESP32, through the standardized interface between server and devices, or server and client applications.
        </li>
        <li class="slide">
            <img src="/assets/icons/3d_printer.svg" class="icon" />
            If you are a 3D printer enthusiast, you'll be happy to see some of our models designed for different devices. So far we have only
            a few, but we'll add more to the repository in the future. If you want to contribute, you are welcome here.
            OpenSCAD is the preferred language to create #D object, as we don't like static objects, and all of our models are
            parametric, so you can easily adapt them to your needs.
        </li>
    </ul>
</section>