:host {
    display: block;
    height: 100%;
    font-family: "Humanst521 BT";
    font-size: 1.5rem;

}

.slider-wrapper {
    margin: 0rem;
    height: calc(100% - 2rem);
    position: relative;
    overflow: hidden;
}

.slides-container {
    transition: left 500ms;
    height: 100%;
    width: calc(100%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    position: relative;
}

li.slide {
    margin: 1rem 2.5rem 1rem 2.5rem;
    width: 55%;
    height: 100%;
    flex: 1 0 calc(100% - 5rem);
    font-size: 1.75rem;

    .icon {
        width: 9rem;
        height: 9rem;
        float: left;
        margin: 0 2rem 2rem 0;
    }
}

.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}


.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 300ms;
    z-index: 1;
}

.slide-arrow:hover, .slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

