<div class="page-header">
    <span class="dark">Inter</span><span class="another">f</span>aces
</div>
<main>
    <app-section type="notes">
        <h4>
            In this page, I'll explain how HomeCheck server communicates with the devices and the web/mobile app.
        </h4>
        <p>
            All the communication in HomeCheck is done in JSON format. The server sends and receives JSON messages
            o/from the devices and the web/mobile app.
        </p>

    </app-section>

    <app-section type="list">
        <p>
            In this document there are definitions, that need to be clarified before getting started.
        </p>
        <ul class="plain">
            <li>
                <h4>Device</h4>:
                <p>
                    A physical device that provides data from the environment and receives commands from the server.
                </p>
            </li>
            <li>
                <h4>Server</h4>:
                <p>
                    It is the server that is responsible for the communication between the devices and the web/mobile app.
                    It has an inner state, which is updated when a message is received from the devices or the web/mobile app.
                </p>
            </li>
            <li>
                <h4>Status</h4>:
                <p>
                    Status describes the device in a specific moment. It is a part of the device's state.
                    It includes the mode (working, setup, failure), the last error code and error message,
                    and tells whether the device is busy at the moment or not.
                </p>
            </li>
            <li>
                <h4>State</h4>:
                <p>
                    The state in this context means a device's complete inner state including status and sensor values.
                </p>
            </li>
            <li>
                <h4>Info</h4>:
                <p>
                    Info describes the device's capabilities. It is not part of the device's state.
                    It includes the device's name, unique id, status, type, its firmware version and the list of its
                    parameters that controls the device.
                </p>
            </li>
        </ul>
    </app-section>
    <app-section type="list">
        <p>
            There are 2 kind of messages:
        </p>
        <ul class="plain">
            <li>
                <b>Command Messages</b><br />
                <p>
                    Command messages are sent from the web/mobile app to the server, and from the server to the devices.
                    They are used to control the devices, and to get information from the devices.<br />
                    A good example would be for a command to switch on a light or stop a motor.
                </p>
            </li>
            <li>
                <b>Status Messages</b>
                <p>
                    Status messages are sent from the devices to the server, and from the server to the web/mobile app.
                    They are used to inform the server and the web/mobile app about the status of the devices.<br />
                    A good example would be for a status message to inform the server that a light is on or a motor is
                    running.
                </p>
            </li>
        </ul>
    </app-section>
    <app-section type="notes">
        General Status Message Format can be seen above, and consists of 2 main parts such as Command Messages
    </app-section>
    <app-section type="code">
        <pre><code [highlight]="generalStatus" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
    </app-section>
    <app-section type="notes">
        <p>Currently there are two types of status messages (responses):</p>
        <h4>Info Response</h4>
        <p>
            Info response is sent from the device to the server. It is used to inform the server about the
            device's capabilities and state. It is sent when the device is first connected to the server, and
            when the device's capabilities or state changes.
        </p>
    </app-section>
    <app-section type="code">
        <pre><code [highlight]="statusResponse" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
    </app-section>

    <app-section type="notes">
        <h4>Status Response</h4>
        <p>
            Occurs when device’s internal state changes. It may happen when important status change/error
            occured (traits and ) on reading sensors on sensor value change in response to a successful or
            failed command message status node is mandatory, traits and result is optional. The requestid
            is derived from the related command message.
                </p>
    </app-section>
    <app-section type="code">
        <pre><code [highlight]="infoResponse" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
    </app-section>
</main>