<section class="mobile-header">
    <app-logo uid="3" class="logo" (click)="onLogoClick()"></app-logo>
    <div class="menu-button" (click)="toggleMenu()">
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
    </div>
    <app-mobile-main-menu *ngIf="menuShown" (menuHideEvent)="toggleMenu()"></app-mobile-main-menu>
</section>
