@import "../../../shared/styles/colors";

@media (max-width: 76.7rem) {
    .mobile-header {
        display: block;
    }

    :host {
        display: block;
        background-color: $color05;
        padding: 2rem;
        width: 100%;
        height: 10rem;
        box-sizing: border-box;
        cursor: pointer;
    }

    .logo {
        transform: scale(2);
    }

    .menu {
        position: fixed;
        right: 2rem;
        top: 2rem;
        font-size: 4rem;
    }

    .menu-button {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: fixed;
        right: 2rem;
        top: 2rem;
    }

    /* Style for the stripes */
    .stripe {
        width: 6rem;
        height: .6rem;
        background-color: $color15; /* Adjust color as needed */
        margin: .7rem 0;
    }
}

@media (min-width: 76.8rem) {
    .mobile-header {
        display: none;
    }
}