<div class="page-header">
    Welcome <span class="dark">to</span> Home<span class="another">C</span>heck
</div>
<main>
    <h2>HomeCheck as a Tech Demo</h2>

    <p class="normal">
        HomeCheck is an infrastructure for controlling your own physical devices. It includes server, firmware for devices, a mobile
        and a web application, 3D printed parts and PCB design. All are work in progress. This is a <span class="highlight">Tech Demo</span> project, not
        production ready, so it's not recommended when reliability is a must. This is
        dedicated to people that want to learn and are keen to develop their own devices and software.
    </p>

    <p class="normal">
        These pages describe every aspect of the system, from the software to the hardware, from the installation to the
        configuration. You will find pages describing the idea how it all started, why I don't use already existing solutions like
        Tasmota, ESPHome, HomeAssistant, OpenHAB, Domoticz, etc., and why I like TypeScript and C++.
    </p>

    <p class="normal">
        If you need a product that you can use right away and develop useful things with it, then you can find a lot of
        alternatives on the market. If you want to learn, and you are keen to develop your own devices and software, then
        you are at the right place.
        <br/>
    </p>
    <br style="clear:both" />
    <app-section type="link">
        <h1>Related Links</h1>
        <ul class="plain">
            <li>
                <a href="https://bitbucket.org/HomeCheck/hcserver/src/master/" target="_blank">
                    HomeCheck Server source code <span class="highlight">(TypeScript)</span>
                </a>
            </li>
            <li>
                <a href="https://bitbucket.org/HomeCheck/hcsetup/src/master/" target="_blank">
                    Server Setup Scripts source code <span class="highlight">(BASH)</span>
                </a>
            </li>
            <li>
                <a href="https://bitbucket.org/HomeCheck/hccommondevicelibrary/src/master/" target="_blank">
                    Device Firmware Library source code <span class="highlight">(C++)</span>
                </a>
            </li>
        </ul>
    </app-section>

    <section class="techs">
        <h1>Technologies used</h1>

        <ng-container *ngFor="let tech of techs; let i = index">
            <div class="item {{tech.name}} anim-delay{{i+1}} slide-in-from-left">
                <img src="/assets/icons/{{tech.icon}}" alt="{{tech.name}}" />
                <div style="dislay: block; clear: both;">
                    <h2>{{tech.title}}</h2>
                    <p [innerHTML]="tech.description"></p>
                </div>
            </div>
        </ng-container>
    </section>

    <h3>What you can find here?</h3>

    <p>
        Please don't forget, that it's a work in progress project, you might need to write something for yourself, if you want to.
        You can find here:
    </p>

    <ul class="component-list">
        <app-card className="first" title="Server" content="The server application, that is responsible for managing the devices, and providing the API for the clients." link="/server"></app-card>
        <app-card className="second" title="Firmware" content="The firmware for the devices, that is responsible for the communication with the server, and the hardware." link="/firmware"></app-card>
        <app-card className="third" title="Mobile and Web Client" content="Both the mobile and web application has the same functionality but optimized for different devices." link="/client"></app-card>
        <app-card className="fourth" title="Hardware"
                  content="The target hardware is ESP32 based, and everything is developed for this hardware. You can find here the schematics, the PCB design, and the BOM for specific devices. The number of devices is growing." link="/hardware"></app-card>
    </ul>

</main>
