@import "../../../shared/styles/colors";
@import "../../../shared/styles/animations";

main {
    opacity: 0;
}
.bg {
    width: 100%;
    filter: sepia(100%) hue-rotate(120deg) saturate(1) blur(1px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background-blend-mode: multiply;
}

.component-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10rem 0;
    padding: 2rem 0 0 0;
}

.separator {
    width: 100%;
}

section.techs {
    h1 {
        margin: 0;
        font-size: 4rem;
    }

    .item {
        padding-top: 0.3px;
        padding-bottom: 0.3rem;
        display: flex;
        opacity: 0;
        transition: background-color 0.4s, color 0.4s ease-in-out, filter .5s ease-in-out;
        border: 3px solid transparent;
        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: $color05;
        }

        img {
            width: 10rem;
            height: 10rem;
            padding: 1rem 1rem 2rem 1rem;
            float: left;
        }

        &:hover {
            filter: hue-rotate(200deg);
            background-color: $color13;
            color: $color04;
            border: 3px solid $color13;
            border-radius: 1rem;
        }
    }
}

.fix-width {
    width: 100%;
    min-width:50rem;
    min-height: 50rem;
}

@media (max-width: 76.7rem) {
    .component-list {
        display: inline-block;
        float: left;

    }
}