@import "../../shared/styles/colors";

li.card {
    list-style: none;
    position: relative;
    width: 20rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0 0 .5rem 0.3rem $blackShadow02;
    border-radius: 0.8rem;

    @keyframes TransitioningBackground {
        0% {
            background-position: 1% 0%;
        }
        50% {
            background-position: 99% 100%;
        }
        100% {
            background-position: 1% 0%;
        }
    }

    &.first {
        background-color: $color04;

        .header {
            animation-delay: 15s;
        }

        .content {
            background-color: $color09;
        }
    }

    &.second {
        background-color: $color05;

        .header {
            animation-delay: 5s;
        }

        .content {
            background-color: $color10;
        }
    }

    &.third {
        background-color: $color06;

        .header {
            animation-delay: 25s;
        }

        .content {
            background-color: $color11;
        }
    }

    &.fourth {
        background-color: $color07;

        .header {
            animation-delay: 12s;
        }

        .content {
            background-color: $color12;
        }
    }

    &.fifth {
        background-color: $color08;

        .content {
            background-color: $color13;
        }
    }

    .header {
        background-color: transparent;
        font-weight: bold;
        font-size: 1.8rem;
        color: $listContentText;
        text-align: center;
        height: 5.1rem;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-image: (linear-gradient(270deg, $color04, $color08));
        background-size: 400% 400%;
        animation: TransitioningBackground 20s ease infinite;
        transition: 0.6s;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;


        &::before {
            content: 'aaa';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            width: 60px;
            height: 100%;
            top: 0;
            filter: blur(30px);
            border: 1px solid black;
            transform: translateX(-100px) skewX(-15deg);
        }

        &:hover {
            background-image: (linear-gradient(to left, $color21, $color24));
            transform: scale(1.03);
            cursor: pointer;
            transition: background 0.25s, color 0.25s ease-in-out;

            // psuedo-elements for right- and left-side shine animations
            &::before,
            &::after {
                transform: translateX(300px) skewX(-15deg);
                transition: 0.7s;
            }
        }

        span {
            width: 100%;
            text-align: center;

            a {
                text-decoration: none;
                color: $color16;
            }
        }
    }

    .content {
        background-color: $listContentBackground;
        padding: 1rem;
        height: 20rem;
        overflow: auto;
        font-size: 1.3rem;

        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
    }
}

@media (max-width: 76.8rem) {
    li.card {
        width: 100%;
        height: 15rem;
        margin-bottom: 2rem;

        div.content {
            font-size: 2rem;
        }
    }
}