@import "../../shared/styles/colors";

.columns {
    .column {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;

        li:first-child {
            display: inline-block;
            font-size:2rem;
            padding-bottom: 0.5rem;
            color: $color110;
            font-weight: bold;
        }

        li:after {
            content: " | ";
            color: $color111;
            font-weight: bold;
        }


        li {
            list-style-type: none;
            display: inline-block;
            margin-bottom: 0.1rem;
        }

        p {
            margin: 0;
        }
    }
}

@media (min-width: 76.8rem ) {
    :host {
        background-color: $color105;
        display: block;
    }

    .logo-container {
        float: left;
        width: 40%;
        padding: 0;

        img {
            width: 100%;
        }
    }

    .columns {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        padding-top: 0;

        p {
            margin-top: 0;
            padding-left: 4rem;
        }
    }
}

@media (max-width: 76.7rem ) {
    :host {
        display: flex;
        flex-direction: column;
    }

    .logo-container {
        width: 100%;
        padding: 1rem 0 0 0;
        img {
            width: 100%;
        }
    }

    .columns {
        display: block;
        font-size: 1.6rem;
        padding-top: 0;

        ul {
            padding: 1rem;
        }

        p {
            margin-top: 0;
            padding-left: 1rem;
        }
    }
}
