<section class="logo-container">
    <app-logo uid="1"></app-logo>
</section>
<section class="columns">
    <ul class="column">
        <li>
            About
        </li>
        <li>
            Members
        </li>
        <li>
            License
        </li>
        <li>
            Privacy Policy
        </li>
    </ul>
    <p>© 2023 HomeCheck Inc. All Rights Reserved.</p>
</section>