@import "../../../shared/styles/colors";
@import "../../../shared/styles/animations";

:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color02;
    margin: 0;
    opacitY: 1;
    z-index: 11;
    animation: fade-in .5s ease-in-out forwards;
}

nav.back {
    color: red;
    background-color: $color03;
    height: 11rem;

    img {
        margin-left: 2rem;
        margin-top: 2rem;
        width: 6rem;
        height: 6rem;
    }

    &:hover {
        background-color: $color08;
        color: $color104;
    }
}

ul.menu-container {
    list-style: none;

    z-index: 110;
    width: 100%;
    display: block;
    margin: 0;
    min-width: 55rem;
    padding-inline-start: 0;

    li.menu-item {
        opacity: 1;
        background-color: $color05;
        color: $color113;
        margin-top: -1rem;
        padding: 1rem;

        min-height: 9rem;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
        cursor: pointer;

        img {
            width: 6rem;
            height: 6rem;
            padding: 1rem;
            float: left;
        }

        h1 {
            display: block;
            float: right;
            width: 80%;
            padding: 1rem;
            margin-top: 1rem;
            transition: background-color 0.25s, color 0.25s ease-in-out;
        }

        p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        &:hover {
            background-color: $color08;
            color: $color104;
        }
    }
}
