<nav class="back" (click)="hideMobileMainMenu()">
    <img src="/assets/icons/back.svg" />
</nav>
<ul class="menu-container">
    <ng-container *ngFor="let item of menuItems; index as i">
        <li class="menu-item" (click)="onItemClick($event, item.link)">
            <h1>{{item.title}}</h1>
            <img src="{{item.imageUrl}}" alt="{{item.title}}">
        </li>
    </ng-container>
</ul>