<section class="header">
    <section class="main-logo">
        <div class="logo">
            <app-logo class="logo" uid="112" (click)="onLogoClick()"></app-logo>
        </div>
    </section>
    <section class="main-carousel">
        <app-carousel></app-carousel>
    </section>
</section>