@import "../../shared/styles/colors";

.header {
    background-color: $color106;
    color: $color114;
    height: 30rem;
    display: block;
    font-size: 1.5rem;

    .main-logo  {
        display: block;
        height: 10rem;

        .logo {
            width: 50rem;
            height: auto; /* Maintain aspect ratio */
            transform: scale(2) translate(25%, 20%); /* Initial scale */
            transform-origin: 50% 50%;
            transition: transform 0.3s ease-in-out; /* Add smooth transition */

            &:hover {
                transform: scale(2.1) translate(25%, 20%);  /* Scale up on hover */
                cursor: pointer;
            }
        }
    }

    .main-carousel {
        height: 20rem;
        display: block;
    }

}





