@import "../../../shared/styles/colors";
@import "../../../shared/styles/animations";

li {
    cursor: pointer;
    border: 3px solid transparent;
}

li:hover {
    background-color: $color13;
    color: $color04;
    border: 3px solid $color13;
    border-radius: 1rem;
}