<div class="page-header">
    <span class="dark">Implem</span><span class="another">e</span>ntation
</div>
<main>
    <app-section type="notes">
        <h2>Notes</h2>
        <p>
            This is the implementation section. Here you can find a short introduction of
            each component.
            If you are interested the implementation details, please consider visiting
            <a href="https://zakzag.atlassian.net/wiki/spaces/HOMECHECKH/overview">HomeCheck's Confluence Page</a>,
            and you will find
        </p>
    </app-section>

    <app-section type="list">
        <h2>HomeCheck software consists of four main components:</h2>
        <ul class="plain">
            <li>
                <a href="/server"><b>Server</b></a><br>
                The server is the main part of the application.
                Implementation-wise, it is a node.js application written in TypeScript.
            </li>
            <li>
                <b>Device Firmware</b><br>
                The device firmware is the part of the application that runs on the ESP32 platform.
                It is written in C++, based on Arduino framework, but in the near future we'll switch to ESP-IDF.
                Anyway, the firmware is the base for each particular device and provides the API for wire range of
                functionality, like receiving and sending HC compatible messages, reading data, send to sleep mode, etc.
            </li>
            <li>
                <b>Mobile/Web App</b><br>
                The mobile/web app is the part of the application that runs on the user's device,
                and provides the user interface for the application. It is written in TypeScript and based on Angular.
            </li>
            <li>
                <b>Setup scripts</b>
                <br>
                The Setup scripts help you setup and install a linux server with all the necessary software and settings
                that needed to run the following parts of the application:
                <ul>
                    <li>
                        Default users for upload, sftp, deployment, running app, etc.
                    </li>
                    <li>
                        Default folders for the application
                    </li>
                    <li>
                        Server application
                    </li>
                    <li>
                        Database (MongoDB for now, couchDB later)
                    </li>
                    <li>
                        MQTT broker (Mosquitto)
                    </li>
                    <li>
                        Web server (Apache) and its settings
                    </li>
                    <li>
                        Web Pages
                    </li>
                    <li>
                        Jenkins build server
                    </li>
                </ul>
            </li>
        </ul>
    </app-section>
</main>