@import "../../shared/styles/colors";
@import "../../shared/styles/animations";

.icon {
    width: 3rem;
    height: 3rem;
}

.bubble {
    float: right;
    display: inline-block;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    margin: 3rem 5rem 5rem 5rem;
    width: 50rem;
    text-align: justify;
    font-size: 1.8rem;
    color: $mainText;
    background-color: $color114;
    padding: 2rem;
    border-radius: 11px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0.3rem $bubbleShadow;
    font-family: "Humanst521 BT", sans-serif;
}
.bubble:after {
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    color: $color114;
    text-shadow: 0.5rem 0.5rem 2rem 0.3rem $bubbleShadow;
    text-align: justify;
    font-size: 5.5rem;
    width: 5.5rem;
    height: 1.1rem;
    line-height: 3rem;
    border-radius: 1.1rem;
    background-color: $color114;
    position: absolute;
    display: block;
    bottom: -3rem;
    left: 0;
    box-shadow: 0.5rem 0.5rem 2rem 0.3rem $bubbleShadow;
    z-index: -2;
}