<main class="main-container">
    <app-mobile-header></app-mobile-header>

    <section class="left-container">
        <router-outlet></router-outlet>
    </section>
    <section class="right-container">
        <app-header></app-header>
        <app-main-menu></app-main-menu>
    </section>
    <footer>
        <app-footer></app-footer>
    </footer>
</main>
