@import "shared/styles/colors";

.main-container {
    display: flex;
    flex-direction: row;
    background-color: $color114;
    width: 100%;
    max-width: 170rem;
    min-width: 155rem;
    margin: auto;
}

.left-container{
    /* Styles for the sidebar */
    flex: 1;
    background-color: $color16;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.10);
    overflow: hidden;
}

.right-container {
    /* Styles for the left content */
    width: 56rem;
    background-color: $color113;
    -webkit-box-shadow: 0 0 2rem 0.3rem rgba(0,0,0,0.10);
    box-shadow: 0  2rem 0.3rem rgba(0,0,0,0.10);
    overflow: hidden;
}

footer {
    background-color: $color106;
    color: $color115;
    text-align: left;
}

/* Monitor Screen */
@media (min-width: 76.8rem) {
    .main-container {
        display: flex;
    }

    .right-container {
        display: block;
    }

    .left-container {
        margin-right: 4rem;
    }

    footer {
        bottom: 0;
        left: 0;
        height: 5rem;
        padding: 1rem;
        position: fixed;
        width: 100%;
    }
}

/* Mobile screen */
@media (max-width: 76.7rem) {
    main {
        padding: 0;
    }

    .main-container {
        display: block;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .right-container {
        display: none;
    }

    footer {
        position: static;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 16rem;
        padding: 0;
    }
}
