@keyframes slide-in-from-left {
    0% {
        transform: translateX(130%);
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-from-right {
    0% {
        transform: translateX(-130%);
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-1 {
    animation: fade-in .5s ease-in-out forwards;
}

.fade-out-1 {
    animation: fade-out .5s ease-in-out forwards;
}

.slide-in-from-left {
    animation: slide-in-from-left .4s ease-out forwards;
}

.slide-in-from-right {
    animation: slide-in-from-right .4s ease-out forwards;
}

@for $i from 1 through 15 {
    .menu-delay#{$i} {
        animation-delay: 0.15s * $i;
    }
}

@for $i from 1 through 15 {
    .anim-delay#{$i} {
        animation-delay: 0.075s * $i;
    }
}


.rotation {
    animation: rotate 60s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
        transform-origin: 25% 25%;
    }

    1% {
        transform: rotate3d(0, 1, 0, 360deg);
        transform-origin: 25% 25%;
    }
    2% {
        transform: rotate3d(0, 1, 0, 360deg);
        transform-origin: 25% 25%;
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
        transform-origin: 25% 25%;
    }
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }
    55% {
        transform: translatey(-10px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}

