@import "base-colors";


// Title colors
$titleBackground: $color09;
$titleText1: $color114;
$titleText2: $color109;
$titleText3: $color24;

// Icon colors

$iconColor0: $color113;
$iconColor1: $color10;
$iconColor2: $color08;
$iconColor3: $color05;
$iconColor4: $color04;
$iconColor5: $color03;

// left
$mainText: $color105;
$mainLink: $color06;
$highlight: $color06;
$bubbleShadow: $blackShadow02;

// main list
$listContentBackground: $iconColor2;
$listContentText: $color14;
$listHeaderBackground: $color05;


// timeline
$timeLineBackground: $iconColor0;
$timeLineDot: $iconColor3;
$timeLineDotHover: $iconColor5;
$timeLineDotRim: $iconColor1;
$timeLineText: $mainText;
$timeLineIconStrip: $color08;

