@import "colors";
@import "common-mobile";
@import "animations";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@font-face {
    font-family: 'rockwellregular';
    src: url('../../../assets/fonts/rockwell-webfont.woff2') format('woff2'),
    url('../../../assets/fonts/rockwell-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HumanSt521BT';
    src: url('../../../assets/fonts/Humanst521 BT.woff2') format('woff2'),
    url('../../../assets/fonts/Humanst521 BT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%; /* 10px * 62.5% = 16px (default font size) */
}

/* Default settings for all the tags */
body {
    font-family: "Humanst521BT", sans-serif;
    font-size: 2rem;
    background-color: $color114;
    color: $color03;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


main {
    padding: 3rem;
    box-sizing: border-box;
    animation: fade-in 1s ease-in-out forwards;
}

/* app-section first element is aligned to left icon */
app-section .content *:first-child {
    margin-top: 0;
}

/* Header on every pages */

@media (min-width: 768px) {
    .page-header {
        background-color: $titleBackground;
        color: $titleText1;
        width: 65rem;
        font-size: 6.1rem;
        text-align: center;
        padding: 2rem 2rem 2rem 3rem;
        .dark {
            color: $titleText2;
        }

        .another {
            color: $titleText3;
        }
    }
}

.full-width {
    width: 100%;
}

.margin1 {
    margin: 1rem;
}

/* style for emphasize words */
.highlight {
    color: $highlight;
    font-weight: bold;
}

/* default style for all the links on this page */
a {
    color: $mainLink;
}

p.normal {
    line-height: 3rem;
    text-align: justify;
}

/* not sure i need it */
#myRect {
    animation: rotate 5s infinite linear; /* Apply infinite rotation animation */
    transform-origin: center center;
}

/* Style for all the list on this page, especially for app-section components
 * provides unindented, alternate colored list without circles, dashes or anything
 */
ul.plain {
    list-style-type: none;
    background-color: $color115;
    padding: 0;

    li {
        padding: 1rem;
        list-style-type: none;
    }

    li:nth-child(odd) {
        background-color: $color114;
    }
    li:nth-child(even) {
        background-color: $color1145;
    }
}

/* highlight.js override, gives line numbering a vertical separator bar  */
.hljs-ln-numbers {
    border-right: 1px solid $color10;
}

/* default style for code  */
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    background-color: $color114;
}

app-section {
    h1, h2, h3, h4, h5, h6 {
        color: $color05;
    }
}