@import "colors";

@media (max-width: 76.8rem) {
    .page-header {
        background-color: $titleBackground;
        color: $titleText1;

        overflow: hidden;
        font-size: 3.4rem;
        text-align: left;
        padding: 2rem 2rem 2rem 3rem;
        .dark {
            color: $titleText2;
        }

        .another {
            color: $titleText3;
        }
    }
}