<div class="page-header">
    <span class="dark">The</span><span class="another"> I</span>dea
</div>
<main>
    <h2>Why HomeCheck came to my mind?</h2>
    <app-section type="notes">
        <p>
            I'm glad you've stumbled here, and even more so if you're not just here by chance, but because you've
            heard about this system and want to know more about it. This blog supplements the documentation found here
            and organizes the development process in chronological order.
            You will find the posts of this blog on homecheck.hu, but you can also read them here. I want to report on
            each major step and success (as well as failure) for several reasons:
            I would like to present my professional development in the same way as I would like to document the
            development steps the system goes through.
        </p>
        <p>
            Whenever possible, you will find a new post here with the details as each major step is completed.
            The HomeCheck system originally started as a self-developed hobby project, and I wanted my newly built
            house to have the self-developed system, as I could proudly show my guests what I am capable of. But there
            is a bigger problem with this: if I were to move somewhere else, then my SmartHome system would be
            worthless, because even if the next resident could use it (after all, ease of use is the point), he would
            certainly not be able to fix any bugs or have someone do it, it would only cause problems and
            actually reduce the value of the house. Especially if the system would go beyond measuring a temperature
            or closing a door.
            Therefore, in addition to the fact that HomeCheck would be able to do this, its use is actually narrowed
            down to the fact that I can use it to supervise and control of my garden that will be completed next year.
            I am not renaming it from HomeCheck to PlantCheck or anything else, because - as I mentioned before - it
            will not only be able to do this, but the focus will be transferred to everything that is not smart home.
            I will not use it to measure the temperature and humidity of the rooms, control the LED strips and lights
            (Xiaomi and IKEA will be there for that), it will not control the security cameras, but it will control the
            circulation pump in my aquaponics system, measure the water parameters , such as cleanliness, ph value,
            temperature, and to administer the right amount of nutrients. It measures the air and soil parameters
            in the greenhouse and provides data to the server.
        </p>
    </app-section>
    <app-section type="notes">
        <p>
            I've always been a fan of electronic devices, and even though I am a software developer, I've always been
            interested in hardware. I like to control hardware with software, and I like to create software that.
            It makes me more excited when I see something that I've created is working in the real world.
        </p>
        <p>
            Several years ago, upon the inaugural release of Arduino's pioneering board, I eagerly procured one,
            notwithstanding its relatively steep cost. The anticipation was palpable. With my newfound hardware in hand,
            I embarked on a journey of experimentation, culminating in the inception of a rudimentary yet functional
            automated watering system for my cherished plants. My endeavors did not cease there. Intrigued by the
            prospect of harmonizing this innovation with my existing home automation infrastructure, I soon realized
            that crafting a bespoke system from scratch would not only be immensely gratifying but would also afford me
            the opportunity to explore and experiment to my heart's content
        </p>
        <p>
            There might be a JS based system outside, but I never met one. As my favorite language is TypeScript,
             started working on it. It grew, and as progressed, I realized, that If I want to develop firmware for
            devices, I also need to study C++ and the Arduino framework.
        </p>
        <p>
            When I bought a 3D Printer, I saw the best way to design models is not a CAD system but programming
            models in OpenSCAD as this way I can create parametric models. It means then running a function with
            different setting/parameters generates different models, depending on the implementation.
            I can create a model that is a box, but I can also create a model that is a box with a hole in it, or
            two, or make it bigger or smaller, and when the generator function is well designed, it will generate
            the proper box with holes in the proper place.
        </p>
        <p>

        </p>
    </app-section>
</main>