<div class="page-header">
    <span class="dark">Infra</span><span class="another">s</span>tructure
</div>
<main>
    <app-section type="notes">
        <p class="normal">
            A HomeCheck consists not only of servers, clients, and devices, but also numerous other components that together
            make the system functional. Some of these are necessary only for development but are essential for the system to
            operate. Others are required for the functioning of the system or are not directly related to the system.
        </p>
        <p class="normal">
            The chart below shows all the components already working or in work-in-progress state.
        </p>
        <img class="infra" src="/assets/charts/infrastructure.svg" alt="Infrastructure" />
    </app-section>
    <app-section type="list">
        <ul>
            <li>
                <p class="normal">
                    The <span class="highlight">Atlassian Server</span> hosts the JIRA for tracking the development and the Confluence for the documentation, and most
                    importantly the BitBucket repositories of all the components. The BitBucket repositories are public and can be found
                    <a href="https://bitbucket.org/HomeCheck/workspace/repositories/" target="_blank">here</a>.
                </p>
            </li>
            <li>
                <p>
                    The <span class="highlight">Local Raspberry Pi4 Server</span> is used for hosting
                </p>
                <ul class="plain">
                    <li>
                        <span class="highlight">Jenkins CI/CD automation server</span> builds and deploys everything
                        automatically, including HomeCheck local and Public Server, HomeCheck.hu homepage,
                        helyzet.eu webpage, helyzet.eu data provider application, and all the components that
                        will be developed in the future.
                    </li>
                    <li>Local HomeCheck server</li>
                    <li>Helyzet.eu data provider application</li>
                </ul>
            </li>
            <li>
                <p class="plain">
                    Public Server is hosting the related webpages and database. In the future it will host a public
                    HomeCheck server as well.
                </p>
                <ul class="plain">
                    <li>
                        <span class="highlight">HomeCheck.hu webpage</span>: this page
                    </li>
                    <li>
                        <span class="highlight">helyzet.eu</span> webpage: the demo page for showing Ionizing radiation data and statistics
                    </li>
                    <li>
                        <span class="highlight">HomeCheck Database</span>: for now, the database for the local HomeCheck server is hosted on a
                        public host, as Raspbian is not supporting MongoDB for ARM architecture, but in the future
                        it will be moved to the Local Server to avoid data breach and security issues.
                    </li>
                    <li>
                        <span class="highlight">HomeCheck Public Server</span>: there's a intance of the HomeCheck server running on the Public
                        Server, but it is not yet available for public use.
                    </li>
                </ul>
            </li>
        </ul>
    </app-section>
    <app-section type="notes">
        <h1>Other essential Components</h1>
        <p>
            The following components are not directly related to the HomeCheck system, but they are essential for the
            development and operation of the system:
        </p>
    </app-section>
    <app-section type="list">
        <ul class="plain">
            <li>Server install scripts</li>
            <li>CI/CD Pipeline that will build and release and deploy components as Server, WebPage, and other devices</li>
        </ul>
    </app-section>
    <app-section type="notes">
        <h2>Server Hosting</h2>
        <p>
            We have developed a script that automates server setup and software installation tasks. Currently, it is written
            in BASH, but future plans include rewriting it in Node.js to eliminate the need for developers to learn another
            language. Among the upcoming developments is the organization of the server and components into Docker images,
            making the system even more flexible and easier to install. Dockerization will significantly simplify and speed
            up the installation of the development environment, reduce the possibility of errors, and expand the range of
            possible installation platforms (e.g., from Debian to Red Hat or any exotic system). We maintain a separate
            repository for the installation scripts, which includes scripts that were removed during development but may
            be reintroduced in a later phase. The scripts are capable of performing various tasks and are currently in a
            transitional development phase, so their usage is not user-friendly, but this will change in the future.
        </p>
        <h3>The scripts are suitable for the following tasks:</h3>
    </app-section>
    <app-section type="list">
        <ul class="plain">
            <li>
                <h4 class="highlight">Setting up the HomeCheck Application Server environment, including</h4>
                <ul class="plain">
                    <li>
                        Basic configurations such as necessary user accounts, their home directories, server base directories, etc.
                    </li>
                    <li>
                        Installation of Node.js and NPM, as well as other essential Node packages for the server (e.g., TypeScript, PM2).
                    </li>
                    <li>
                        Installation of the MongoDB database with default settings.
                    </li>
                    <li>
                        Installation of other essential tools like Git, Docker, and Midnight Commander (the latter is indispensable for me :) ).
                    </li>
                </ul>
            </li>
            <li>
                <h4 class="highlight">Deploying Server Setup</h4>
                <ul class="plain">
                    <li>
                        Installing the Jenkins CI/CD application.
                    </li>
                    <li>
                        Installing Docker.
                    </li>
                </ul>
            </li>
            <li>
                <h4 class="highlight">WebPage Server Setup</h4>
                <ul class="plain">
                    <li>
                        A configurable script where data for installing multiple websites can be customized and executed.
                    </li>
                    <li>
                        Installing the Apache server.
                    </li>
                    <li>
                        Configuring directories and users for the websites.
                    </li>
                    <li>
                        Installing and managing SSL certificates.
                    </li>
                </ul>
            </li>
        </ul>
    </app-section>
    <app-section type="link">
        <h2>Related links</h2>
        <ul class="plain">
            <li><a href="https://bitbucket.org/HomeCheck/homecheckdeployscripts/src/master/">Server Deploy Scripts Repository</a></li>
        </ul>
    </app-section>
</main>