@import "../../shared/styles/colors";

.timeline-container {
    clear: both;
    background: $timeLineBackground;
    width: 100%;
    position: relative;

    .leftbox {
        top: -5%;
        left: 5%;
        position: absolute;
        width: 15%;
        height: 110%;
        background-color: $iconColor2;
        box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
    }

    nav {
        margin: 2.6em auto;
    }

    nav a {
        list-style: none;
        padding: 3.5rem;
        color: $mainLink;
        font-size: 1.1em;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .rightbox {
        padding: 0em 34rem 0em 0em;
        height: 100%;
    }

    .rb-container {
        width: 100%;
        margin: auto;
        display: block;
        position: relative;
    }

    .rb-container ul.rb {
        margin: 2.5em 0;
        padding: 0;
        display: inline-block;
    }

    .rb-container ul.rb li {
        list-style: none;
        margin: auto auto auto 23rem;
        min-height: 50px;
        border-left: 2px dashed #000;
        padding: 0 0 50px 30px;
        position: relative;
    }

    .rb-container ul.rb li:last-child {
        border-left: 0;
    }

    .rb-container ul.rb li::before {
        position: absolute;
        left: -18px;
        top: -5px;
        content: " ";
        border: 8px solid rgba(255, 255, 255, 1);
        border-radius: 500%;
        background: $timeLineDot;
        height: 20px;
        width: 20px;
        transition: all 500ms ease-in-out;
    }

    .rb-container ul.rb li:hover::before {
        border-color: $timeLineDotHover;
        transition: all 1000ms ease-in-out;
    }

    ul.rb li .timestamp {
        color: $color08;
        position: relative;
        width: 100px;
        font-size: 12px;
    }

    .item-title {
        color: $timeLineText;
    }

    h1 {
        display: block;
        margin-left: 22rem;
        margin-top: 20rem;
    }
}