<svg width="300" height="55" viewBox="0 0 300 55" xmlns="http://www.w3.org/2000/svg">
    <style>
        .logo-font-normal {
            font: normal 3.6rem rockwellregular, sans-serif;
        }
    </style>
    <defs>
        <mask id="hole{{uid}}">
            <rect width="100%" height="100%" fill="white"/>
            <text x="128" y="40" class="logo-font-normal" fill="#000">C</text>
        </mask>
    </defs>

    <rect class="rotation" width="128" height="41" x="14" y="7" fill="none" stroke-width="4" stroke="#ebebeb"/>
    <rect width="26" height="26" x="129" y="15" fill="#ffb20e" stroke="none" [attr.mask]="'url(#hole'+uid+')'" />
    <text x="20" y="40" class="logo-font-normal rotation" fill="#ebebeb">HOME</text>
    <text x="156" y="40" class="logo-font-normal" fill="#ebebeb">HECK</text>
</svg>