section.decorated {
    display: flex;
    flex-direction: row; // items arranged horizontally
    justify-content: flex-start; // items aligned to the left
    align-items: stretch; // items  fills the space

    .icon {
        width: 10rem;
        display: flex;
        background-size: 4.8rem;
        background-repeat: no-repeat;
    }

    .content {
        width: 100%;
        text-align: justify;
        min-height: 10rem;
    }

    &.warning {
        .icon {
            background-image: url("/assets/icons/section/warning-icon.svg");
        }
    }

    &.notes {
        .icon {
            background-image: url("/assets/icons/section/notes-icon.svg");
        }
    }

    &.link {
        .icon {
            background-image: url("/assets/icons/section/link-icon.svg");
        }
    }

    &.question {
        .icon {
            background-image: url("/assets/icons/section/question-icon.svg");
        }
    }

    &.list {
        .icon {
            background-image: url("/assets/icons/section/list-icon.svg");
        }
    }

    &.code {
        .icon {
            background-image: url("/assets/icons/section/code-icon.svg");
        }
    }
}