@import "../../shared/styles/colors";
@import "../../shared/styles/animations";

h1.menu-head {
    font-size: 4rem;
    display: block;
    color: $color104;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.menu-container {
    .menu-item-container {
        margin-top: 5rem;

        .menu-item {
            opacity: 0;
            background-color: $color115;
            color: $color104;
            -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.10);
            box-shadow: 0 0 10px 3px rgba(0,0,0,0.10);
            padding: 1rem;

            min-height: 19rem;
            transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
            cursor: pointer;

            img {
                width: 13rem;
                height: 13rem;
                padding: 1rem;
                float: left;
            }

            h1 {
                margin-left: -1rem;
                margin-top: -1rem;
                background-color: $color14;
                display: block;
                width: 100%;
                padding: 1rem;
                margin-bottom: 1rem;
                transition: background-color 0.25s, color 0.25s ease-in-out;
            }

            p {
                margin-top: 1rem;
                font-size: 1.5rem;
            }

            &:hover {
                background-color: $color08;
                color: white;

                h1 {
                    background-color: $color07;
                }
            }
        }
        clear: both;

        &.left {
            width: 45rem;
            float: left;

        }

        &.right {
            width: 45rem;
            float: right;
        }
    }
}