
<section class="menu-container" *ngFor="let item of menuItems; index as i">
    <div class="menu-item-container {{i%2 === 0 ? 'right':'left'}}" (click)="onItemClick($event, item.link)">
        <div class="menu-item {{item.className}}">
            <h1>{{item.title}}</h1>
            <img src="{{item.imageUrl}}" alt="{{item.title}}">
            <p>
                {{item.description}}
            </p>
        </div>
    </div>
</section>
